<h1 class="mt-5"> Selectores Anidados </h1>
<hr>

<form [formGroup]="myformSelector" (ngSubmit)="saveCountryStepOne()">
  <!-- REGION CONTINENT -->
  <div class="row mb-3">
    <div class="col">
      <label for="Continente" class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value=""> -- Seleccione Continente -- </option>
        <option 
          *ngFor="let region of regions"
          [value]="region | lowercase">{{region}}</option>
      </select>
    </div>
  </div>

  <!-- COUNTRY -->
  <div class="row mb-3" *ngIf="countries.length !== 0">
    <div class="col">
      <label for="Continente" class="form-label">Paises:</label>
      <select class="form-control" formControlName="country">
        <option value=""> -- Seleccione País -- </option>
        <option 
          *ngFor="let country of countries"
          [value]="country.alpha3Code">{{country.name}}</option>
      </select>
    </div>
  </div>

   <!-- bordersCountry -->
   <div class="row mb-3" *ngIf="bordersByCode.length > 0">
    <div class="col">
      <label for="Continente" class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="bordersCountry">
        <option value=""> -- Seleccione Fronteras -- </option>
        <option 
          *ngFor="let borders of bordersByCode"
          [value]="borders.alpha3Code">{{borders.name}}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="alert alert-primary">
      Cargando...
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Seleccionar
      </button>
    </div>
  </div>
</form>

<h3>Formulario:</h3>
<pre>Valido: {{ myformSelector.valid }}</pre>
<pre>{{ myformSelector.value | json }}</pre>
